<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name='HandheldFriendly'  content='True'/>
		<meta name='viewport' content='width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;' />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black" />
		<meta name="format-detection" content="telephone=no"/>
		<link rel="stylesheet" type="text/css" href="../css/question.css">
		<title>狗狗像那个明星</title>
	</head>
	<body>
		<section class="question"></section>
		<section class="answers"></section>
		<script type="text/template" id="tpl-question">
		    <div class="question-wrap">
		    	<span class="txt"><%= content %></span>
		    </div>
		</script>
		<script type="text/template" id="tpl-answer">
		    <div class="answer-item" data-score="<%= score %>">
		    	<div class="outer">  
			    	<span class="selection"><%= title %></span>
			    	<span class="value"><%= text %></span>
		    	</div>
		    </div>
		</script>
		<script src="../js/require.min.js" data-main="../js/question" charset="utf-8"></script>
	</body>
</html>